body {
  font-family: "Microsoft JhengHei", "Heiti TC", sans-serif;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.cursor-pointer {
  cursor: pointer;
}

/* 捲軸美化 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f5f4;
}
::-webkit-scrollbar-thumb {
  background: #a7f3d0;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #34d399;
}
